<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>place-order</title>
    <style>
        *{
            margin: 0;
        }
    </style>
</head>
<body>
    <h1 style="padding: 0 0 25px 0;">this your order data , i don't have time to style it , i have exams :|</h1>

    <h1>name: <span style="color: black;font-size: 15px;"><%= order.name %></span></h1> <br>
    <h1>product: <span style="color: black;font-size: 15px;"><%= order.product %></span></h1> <br>
    <h1>price: <span style="color: black;font-size: 15px;"><%= order.productPrice %></span></h1> <br>
    <h1>number: <span style="color: black;font-size: 15px;"><%= order.number %></span></h1> <br>
    <h1>instagram: <span style="color: black;font-size: 15px;"><%= order.instagram %></span></h1> <br>
    <h1>size: <span style="color: black;font-size: 15px;"><%= order.size %> </span></h1><br>
    <h1>color: <span style="color: black;font-size: 15px;"><%= order.color %></span></h1> <br>
    <h1>city: <span style="color: black;font-size: 15px;"><%= order.city %></span></h1> <br>
    <h1>type: <span style="color: black;font-size: 15px;"><%= order.type %></span></h1> <br>

    <a href="./home">back to home</a>
</body>
</html>